<VirtualHost *:80>
    DocumentRoot /var/www/project
    ServerName project.local.dev

    ErrorLog /var/log/apache2/project.dev_error.log
    CustomLog /var/log/apache2/project.dev_access.log common

    <Directory "/var/www/project">
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

</VirtualHost>
